@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-image: url('../public/bg.jpg');
  /* Adjust the path if needed */
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

:root::before {
  content: '';
  position: fixed;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  right: env(safe-area-inset-right);
  background: inherit;
  z-index: -1;
  /* Ensure this background doesn't overlay content */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}